.pocetna{
    min-height: 400px;
    background-color: rgb(228, 227, 227);
}
label{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: black 2px 2px;
}
.grid-container{
    margin-top: 120px;
}
.index{
    background-color: rgb(28, 28, 28);
}
  .container{
      margin-top: 100px;
      color: white;
  }
  .adm{
      background-color: rgb(28, 28, 28) ;
  }
  /*forma*/
  .field{
      width: 300px;
      position: fixed;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -30%);
  }
  .field2{
    width: 300px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.field3{
    width: 300px;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.field4{
    width: 300px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}
.btn{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*git link*/
.git{
    position: absolute;
    bottom: 20px;
    right: 0;
}
.gitlink{
    position: absolute;
    bottom: 0;
    right: 70px;
    font-family: 'Kristi', cursive;
    font-size: 2rem;
}
.autoservisNaslov{
    font-family: 'Tangerine', cursive;
    font-size: 5.5rem;
    font-weight: bold; 
    text-shadow: rgb(0, 0, 0) 3px 3px;
    color:#ffffff;
}
body{
    background-image: url(../../img/pozadina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(28, 28, 28) ;
}
p{
    color: white;
    text-shadow: black 2px 2px;
   
}
h3{
    text-shadow: rgb(0, 0, 0) 2px 2px;
    color: white;
}
#uzg ,h5{
    font-family: 'Russo One', sans-serif;
}
.card {
    text-shadow: none;
    background-color: rgba(225, 223, 223, 0.1);
    box-shadow: 20px 20px 50px wheat;
    border-radius: 15px;
    overflow:hidden;
}
h4{
    text-align: center;
    color: wheat;
}
#brojac{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
}



